.App{
    
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10rem; */
    width: auto;
    height: 269px;
    margin-top: 94px;
    margin-right: 32px;
    margin-left: 32px;
    border-radius: 10px;
    background: rgba(98, 98, 98, 1);


   }

   .App2{
    margin-right: 20px;
   }

   .App3{
    display: flex;
    justify-content: space-evenly;
   }

body{
    background: rgba(59, 59, 59, 1);

}